@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply m-0 p-0 font-sans bg-gray-50 text-gray-900;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

h1, h2, h3, h4 {
  @apply font-bold;
}

section {
  @apply my-12;
}